@use '../custom' as *;
.section__laptop{
    .laptop__text{
        p{
            max-width: 700px;
        }
    }
    .laptop__img{
        p{
            max-width: 600px;
        }
        img{
            width: 100%;
        }
    }
}
@media screen and (min-width: 500px){
    .section__laptop{
        display: flex;
        justify-content: space-between;
        align-items: center;
        h3,p{
            text-align: left;
        }
    }
    
}