@use '../custom' as *;

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}
.dropdown-toggle::after{
    display: none;
}
.font-down1{
    position: absolute;
}
.font-down2{
    position: absolute;
}
.font-down3{
    position: absolute;
}
.font-up1{
   visibility: hidden;
}
.font-up2{
    visibility: hidden;
}
.font-up3{
    visibility: hidden;
}
.fontdown{
    visibility: hidden;
}
.fontup{
    visibility: visible;
}

.header{
    background: linear-gradient(to right,$gradient-1,$gradient-2);
    font-family: 'Overpass', sans-serif;
    .btn-white{
        padding: 0.6em 0.8em;
        text-decoration: none;
        font-weight: 600;
        
    }
    .btn-transperant{
        background: $white;
        color: $gradient-2;
        text-decoration: none;
        padding: 0.5em 2em;
        border-radius: 20px;
        font-weight: 600;
    }
    .btn-transperant:hover{
        background: rgba($white,0.3);
        color: $white;
    }
    a{
        text-transform: capitalize;
    }
}
@media screen and (max-width: 760px){
    .small-nav{
        background: $white !important;
        text-align: center;
        border-radius: 8px;
        a{
            color: $black;
        }
        [class^="font-"]{
            color: $gradient-1;
        }
     .dropdown-item{
         text-align: center;
     }   
    }
    .navtext__grid{
        display: grid;
        width: 100px;
        margin: auto;
    }
    .btn-transperant{
        background: linear-gradient(to right,$gradient-1,$gradient-2) !important;
        color: $white !important;
        white-space: nowrap;
    }
    .btn-transperant:hover{
        background: linear-gradient(to right,rgba($gradient-1,0.6),rgba($gradient-2,0.5)) !important; 
    }
    
}
