@use '../custom' as *;

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}
.dropdown-toggle::after{
    display: none;
}
.font-down1{
    position: absolute;
}
.font-down2{
    position: absolute;
}
.font-down3{
    position: absolute;
}
.font-up1{
   visibility: hidden;
}
.font-up2{
    visibility: hidden;
}
.font-up3{
    visibility: hidden;
}
.fontdown{
    visibility: hidden;
}
.fontup{
    visibility: visible;
}

.header{
    background: linear-gradient(to right,$gradient-1,$gradient-2);
    font-family: 'Overpass', sans-serif;
    border-bottom-left-radius: 40px;
    z-index: 999;
    position: relative;
    overflow: hidden;
    .header__img{
        position: absolute;
        width: 100%;
        height: 100vh;
        z-index: -1;
        img{
            width: 165%;
            margin-top: -70%;
            margin-left: -10%;
            
        }
    }
    .btn-transperant{
        padding: 0.6em 0.8em;
        text-decoration: none;
        font-weight: 600;
        
    }
    .btn-white{
        background: $white;
        color: $gradient-2;
        text-decoration: none;
        padding: 0.5em 2em;
        border-radius: 20px;
        font-weight: 600;
    }
    .btn-white:hover{
        background: rgba($white,0.3);
        color: $white;
    }
    a{
        text-transform: capitalize;
    }
    //publishing 
    .header__publishing{
        padding: 6em 0em;
        text-align: center;
        z-index: -2;
        .publishing__big{
            color: $white;
            font-weight: 600;
        }
        .Publishing__small{
            color: $gray-400 !important;
            line-height: 2.3;
        }
        .btn-white1{
            background: $white;
            color: $gradient-2;
            text-decoration: none;
            padding: 0.5em 1.5em;
            border-radius: 20px;
            font-weight: 600;
    
        }
        .btn-white1:hover{
            background: rgba($white,0.3) !important;
            color: $white;
        }
        .btn-transperant1{
            padding: 0.5em 0.8em;
            text-decoration: none;
            font-weight: 600;
            border: 1px solid $gray-400;
            border-radius: 20px;
            
        }
    
    }
}


@media screen and (max-width: 760px){
    .header__img{
        img{
            width: 250% !important;
            margin-top: -60% !important;
            margin-left: -45% !important;
        }
    }
    .small-nav{
        background: $white !important;
        text-align: center;
        border-radius: 8px;
        a{
            color: $secondary;
            font-weight: 600;
        }
        [class^="font-"]{
            color: $gradient-1;
        }
     .dropdown-item{
         text-align: center;
     }   
    }
    .navtext__grid{
        display: grid;
        width: 100px;
        margin: auto;
    }
    .btn-transperant{
        color: $secondary;
        white-space: nowrap;
    }
    .btn-white{
        white-space: nowrap;
        background: linear-gradient(to right,$gradient-1,$gradient-2) !important;
        color: $white !important;
    }
    .btn-white:hover{
        background: linear-gradient(to right,rgba($gradient-1,0.6),rgba($gradient-2,0.5)) !important; 
    }
  
    
}


